{% extends 'base.html' %}
{% load static %}



{% block title %} {{ title }} {% endblock%}
{% block contact%}
<link rel="stylesheet" href"{% static 'css/base.css'%}"
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://manrule.ru/images/article/orig/2019/08/modnye-muzhskie-kostyumy-5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.gq.ru/photos/5d9f3ee42129f20008bdba34/master/pass/GettyImages-642137520.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.wmj.ru/imgs/2016/12/04/23/769835/86768b0179f894b1c9741f62c21038d90a096ce3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="container"
  
  <div class="container"><div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

Костюмы

{% endblock %}
